#storterald-btn-text {
    margin : unset;
    font-family: JetBrains Mono, Consolas, 'Courier New', monospace;
    font-size: 35%;
    color: #97999e;
    padding-top: 2%;
    padding-bottom: 10%;
}

.active-item-indicator {
    border-radius: .5rem;
    scale: 0.85;
}

.monaco-action-bar .active-item-indicator::before {
    background-color: #4b4c4f !important;
    border-left: none !important;
}

.action-label.codicon {
    flex-direction: column;
}

.monaco-action-bar.vertical .action-label.codicon::before {
    scale: 75%;
}

.monaco-action-bar .badge .badge-content {
    display: none;
}