# VS Code
.vscode/

# Jetbrains
.idea/

# .vsix file
*.vsix

# Build Files
.version-getter/
build/
__pycache__
node_modules/
package-lock.json

# Compiled files
js/
*.tsbuildinfo

# Other
.showcase/

