# VS Code
.vscode/**

# Jetbrains
.idea/**
node_modules/**

# Git
.gitignore

# Typescript
src/**
ts/**
**/*.tsbuildinfo
tsconfig.json

# Build Files
.version-getter/**
build.py

# Resources
resources/**